<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 xl-100">
      <agm-map [zoom]="zoom" [latitude]="gmapLat" [longitude]="gmapLng">
        <agm-marker *ngFor="let stop of stopList"
                    [latitude]="stop.lat" [longitude]="stop.lng"
                    [agmFitBounds]="true"
                    [markerClickable]="true"
                    (markerClick)="stopClicked(stop)">
          <!--<agm-info-window>
            <strong>Bus Stop {{selectedStop}}</strong>
          </agm-info-window>-->
        </agm-marker>
      </agm-map>
      <br/>
      Note: Click on a marker of the map to select a Stop
      <br/> <br/>
      <!-- [iconUrl]="icon"-->
    </div>

    <div class="col-xl-12 xl-100">
      <div class="card height-equal">
        <div class="card-header">
          <h1>Selected Stop:<br/></h1>
          <h3>
            Name :{{selectedStop.name}}<br/>
            Place :{{selectedStop.placeName}}<br/>
            Type :{{selectedStop.type}}<br/>
          </h3>
          <button class="btn btn-primary" (click)="getLineList(selectedStop)" [disabled]="loadingLine">Get Steps</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 xl-100">
      <div class="card height-equal">
        <div class="card-header">
          <h3>Steps list:</h3>
        </div>
        <div class="card-body">

          <div class="table-responsive" *ngIf="loadingLine==true">
            <h4>Loading ...</h4>
          </div>
          <div class="table-responsive" *ngIf="loadingLine==false">
            <table class="table table-bordernone mb-0">
              <thead>
              <tr>
                <th scope="col">Line</th>
                <th scope="col">Hour</th>
                <th scope="col">Realtime</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let line of lineList">
                <td>{{line.line}}</td>
                <td>{{line.hour}}</td>
                <td>{{line.realtime}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container-fluid Ends-->


<app-toast aria-live="polite" aria-atomic="true"></app-toast>
